/* Reseteo del documento */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

/*=============================================================*/

/*=============================================================*/
/* Sección Body*/
body {
    background: #08033a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*=============================================================*/
/* Sección Nav*/
.element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 1fr;
}

.header {
    width: 100%;
    /* toma un % de ancho de la pantalla para esta caja*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    position: fixed;

    grid-column: 1/4;
    grid-row: 1/2;
}

.Logo img {
    height: 9vh;
}

nav .Men_nav {
    display: flex;
    align-items: center;
}

/*=-------------------------------------------------------------*/
nav li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: all .3s ease 0s;
}

nav li:hover {
    background-color: #008849;
}

nav li a {
    color: #fff;
}

/*=============================================================*/
/* container*/
/*
.container {

}
*/

